<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.gyl.collect.collect.biz.mapper.AttendanceMapper">

    <sql id="attendance_columns">
        id,uid,input_date,date_type,checkin_time,checkout_time,subsidy_start_time,subsidy_length,subsidy_amount,collect_month,collect_year
    </sql>

    <resultMap id="attendance_rm" type="com.gyl.collect.collect.biz.model.po.Attendance">
        <result property="id" column="id"/>
        <result property="uid" column="uid"/>
        <result property="inputDate" column="input_date"/>
        <result property="dateType" column="date_type"/>
        <result property="checkinTime" column="checkin_time"/>
        <result property="checkoutTime" column="checkout_time"/>
        <result property="subsidyStartTime" column="subsidy_start_time"/>
        <result property="subsidyLength" column="subsidy_length"/>
        <result property="subsidyAmount" column="subsidy_amount"/>
        <result property="collectMonth" column="collect_month"/>
        <result property="collectYear" column="collect_year"/>
    </resultMap>

    <insert id="saveAttendance" parameterType="com.gyl.collect.collect.biz.model.po.Attendance">
        insert into work_collect.attendance (
        <include refid="attendance_columns"/>
        )values (
        REPLACE(uuid(),'-',''),
        #{uid},
        #{inputDate},
        #{dateType},
        #{checkinTime},
        #{checkoutTime},
        #{subsidyStartTime},
        #{subsidyLength},
        #{subsidyAmount},
        #{collectMonth},
        #{collectYear}
        )
    </insert>

    <update id="updateAttendance" parameterType="com.gyl.collect.collect.biz.model.po.Attendance">
        update work_collect.attendance set
        date_type = #{dateType},
        checkin_time = #{checkinTime},
        checkout_time = #{checkoutTime},
        subsidy_start_time = #{subsidyStartTime},
        subsidy_length = #{subsidyLength},
        subsidy_amount = #{subsidyAmount},
        collect_month = #{collectMonth},
        collect_year = #{collectYear}
        where input_date = #{inputDate}
        and uid = #{uid}
    </update>

    <select id="countAttendance" parameterType="com.gyl.collect.collect.biz.model.po.Attendance"
            resultType="java.lang.Integer">
        select count(1) from work_collect.attendance
        where uid=#{uid} and input_date = #{inputDate}
    </select>

    <select id="quryUserAttendance" parameterType="java.util.Map" resultMap="attendance_rm">
        select
        <include refid="attendance_columns"/>
        from work_collect.attendance
        where uid = #{uid}
        and collect_year = #{year}
        and collect_month = #{month}
    </select>

    <delete id="deleteByMonth" parameterType="com.gyl.collect.collect.biz.model.po.Attendance">
        delete from work_collect.attendance where collect_year = #{collectYear}
        and collect_month = #{collectMonth}
    </delete>
</mapper>