<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.gyl.workcollect.biz.mapper.AttendanceMapper">

    <sql id="attendance_columns">
        id,uid,input_date,date_type,checkin_time,checkout_time,subsidy_start_time,subsidy_length,subsidy_amount,collect_month,collect_year
    </sql>

    <resultMap id="attendance_rm" type="com.gyl.workcollect.biz.model.po.Attendance">
        <result column="id" property="id"/>
        <result column="uid" property="uid"/>
        <result column="inputDate" property="input_date"/>
        <result column="dateType" property="date_type"/>
        <result column="checkinTime" property="checkin_time"/>
        <result column="checkoutTime" property="checkout_time"/>
        <result column="subsidyStartTime" property="subsidy_start_tim"/>
        <result column="subsidyLength" property="subsidy_length"/>
        <result column="subsidyAmount" property="subsidy_amoun"/>
        <result column="collect_month" property="collectMonth"/>
        <result column="collect_year" property="collectYear"/>
    </resultMap>

    <insert id="saveAttendance" parameterType="com.gyl.workcollect.biz.model.po.Attendance">
        insert into work_collect.attendance (
        <include refid="attendance_columns"/>
        )values (
        REPLACE(uuid(),'-',''),
        #{uid},
        #{inputDate},
        #{dateType},
        #{checkinTime},
        #{checkoutTime},
        #{subsidyStartTime},
        #{subsidyLength},
        #{subsidyAmount},
        #{collectMonth},
        #{collectYear}
        )
    </insert>
</mapper>