<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gyl.workcollect.biz.mapper.UserMapper">

    <sql id="user_columns">
        id,
        user_name,
        emp_no,
        work_place,
        dept_lv1,
        dept_lv2,
        mobile,project_name,initiation_date,probation_end,quit_date
    </sql>

    <resultMap id="user_rm" type="com.gyl.workcollect.biz.model.po.UserPO">
        <result column="user_name" property="userName"/>
        <result column="emp_no" property="empNo"/>
        <result column="work_place" property="workPlace"/>
        <result column="dept_lv1" property="deptLv1"/>
        <result column="mobile" property="mobile"/>
        <result column="dept_lv2" property="deptLv2"/>
        <result column="project_name" property="projectName"/>
        <result column="initiation_date" property="initiationDate"/>
        <result column="probation_end" property="probationEnd"/>
        <result column="quit_date" property="quitDate"/>
    </resultMap>

    <select id="queryUserByName" parameterType="java.lang.String" resultMap="user_rm">
        SELECT
        <include refid="user_columns"/>
        FROM work_collect.user
        WHERE USER_NAME = #{userName}
    </select>

    <insert id="saveUser" parameterType="com.gyl.workcollect.biz.model.po.UserPO">
        insert into work_collect.user (
            <include refid="user_columns"/>
        )value (
            #{id},
            #{userName},
            #{empNo},
            #{workPlace},
            #{deptLv1},
            #{deptLv2},
            #{mobile},
            #{projectName},
            #{initiationDate},
            #{probationEnd},
            #{quitDate}
        )
    </insert>

    <update id="updateUser" parameterType="com.gyl.workcollect.biz.model.po.UserPO">
        update work_collect.user set user_name = #{userName},
        emp_no = #{empNo},
        work_place = #{workPlace},
        dept_lv1 = #{deptLv1},
        dept_lv2 = #{deptLv2},
        mobile = #{mobile},
        project_name = #{projectName},
        initiation_date = #{initiationDate},
        probation_end = #{probationEnd},
        quit_date = #{quitDate}
        where id = #{id}
    </update>

</mapper>